<a href="https://colab.research.google.com/github/AguaClara/Dissolved-Organic-Matter/blob/main/Interactive_Tutorial_2_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Interactive Tutorial 2: Python Basics

Welcome to the Python Basics tutorial! Please remember to **save your completed tutorial as a copy**! We'll be using code cells in Colab in write and run Python code. Remember that you can refer to the [Python Basics](https://aguaclara.github.io/aguaclara_tutorial/python/python-basics.html) pages in the AguaClara tutorial wiki for help.

1. Write Monroe's favorite food in a string.
   
   *Hint: It's rice and beans. Yum, string beans.*

In [ ]:
favorite_food = "rice and beans"

print(favorite_food)

2. Evaluate (1)(2+3)(4^5) using Python math operators.

In [ ]:
result = (1) * (2 + 3) * (4 ** 5)

print(result)

3.  Write an expression that evaluates to true if `murky` is false, `colorless` is true, and either `pathogens` or `microbes` is false.

In [ ]:
murky = False
colorless = False
pathogens = True
microbes = False
safe_water_on_tap = not murky and colorless and not (pathogens or microbes)

print(safe_water_on_tap)

4. Write the month and day of your favorite date as a list of 2 integers.

In [ ]:
date = [2, 14]

print(date)

5. Append the year to the end of the date from the previous cell.

   Then, change the last element of the list to itself plus one.

In [ ]:
date.append(2024)
date[-1] += 1

print(date)

6. Reassign the density of aluminum to 2.7.

In [ ]:
density = {'water' : 1, 'pvc': 1.38, 'aluminum': 27}

density['aluminum'] = 2.7

print(density)

7. Write a conditional statement that prints "Happy \_\_!" if the date in #4 and #5 falls within the dates of your favorite season. If the date is before the season, print "It's not \_\_ yet."; if it's after, print "\_\_ has passed." (Replace \_\_ with your favorite season.) *Hint: get the month and day of the date.*

In [ ]:
favorite_season = "summer"
if (date[0] > 6) or (date[0] == 6 and date[1] >= 21):
    print(f"Happy {favorite_season}!")
elif (date[0] < 6) or (date[0] == 6 and date[1] < 21):
    print(f"It's not {favorite_season} yet.")
else:
    print(f"{favorite_season} has passed.")

8. Write a for loop to print all the numbers in the list that are even and greater than 16.
   
   *Hint: use modulo to determine if numbers are even.*

In [ ]:
nums = [3, 14, 159, 26, 535, 89, 79, 32]

for num in nums:
    if num % 2 == 0 and num > 16:
        print(num)

9. Write a while loop to calculate the sum of the numbers in the list from #8 until the first 3-digit number -- don't include this number.

In [ ]:
sum = 0
i = 0
while i < len(nums) and nums[i] < 1000:
    sum += nums[i]
    i += 1

print(sum)

10. Write a function called "double" that takes in a number and returns its double. Then, call that function so that x is doubled 6 times (((x\*2)\*2)\*2...).
  
  *Hint: Don't copy and paste the function 6 times!*

In [ ]:
x = 4

def double(num):
    return num * 2

x = 4
for _ in range(6):
    x = double(x)

print(x)

11. Write a function called "short" that takes a list as an input and returns True if the length of the list is less than or equal to 10 and False otherwise.

   Then, print the output of the function when called on `a_long_one` and when called on `a_short_one`.

In [1]:
a_long_one = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
a_short_one = [1, 2, 3]

def short(lst):
    return len(lst) <= 10

print(short(a_long_one))
print(short(a_short_one))

False
True